// Fontes

.fs_20px {
    font-size: 20px;
}

// Pixel

.m_15px {
    margin: 15px
}

.mt_20px {
    margin-top: 20px;
}

.pl_10px {
    padding-left: 10px;
}

.pr_5px {
    padding-right: 5px;
}

.pt_5px {
    padding-top: 5px;
}

.pt_10px {
    padding-top: 10px;
}

.width_100px {
    width: 100px;
}

.width_330px {
    width: 330px;
}

// Porcentagem

.width_80por {
    width: 80%;
}

.width_100por {
    width: 100%;
}

// Padrão

.margin_0_auto {
    margin: 0 auto;
}
