// Pixel

.mt_20px {
    margin-top: 20px
}

.pr_5px {
    padding-right: 5px;
}

.pt_5px {
    padding-top: 5px;
}

.pt_10px {
    padding-top: 10px;
}

.width_100px {
    width: 100px;
}

// Porcentagem

.width_80por {
    width: 80%;
}

.width_100por {
    width: 100%;
}

// Padrão

.margin_0_auto {
    margin: 0 auto;
}
